name: Metrics Dashboard Generation
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - main
      - master
jobs:
  generate-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # --- Configuración Básica ---
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Cast0rM
          
          # --- Configuración del Tema ---
          # ¡Usamos "transparent" para que se integre perfectamente!
          config_theme: transparent
          config_timezone: Europe/Zurich

          # --- Plugins ---
          # He quitado los plugins que se repiten con las tarjetas de arriba
          # Dejamos solo los más visuales (calendario y hábitos)
          plugins: isocalendar, habits
          
          # --- Opciones de los Plugins ---
          plugin_habits_charts: hours, weekdays
          plugin_habits_days: 30

          # --- Dónde guardar la imagen ---
          output_path: metrics.svg
